#loginbox{

margin-top:50px;

  .fpassword{
    float:right;
     font-size: 80%;
      position: relative;
       top:-10px
  }

  .panel-body{
    padding-top:30px;
    .input-group{
      margin-bottom: 25px;
    }

  }

}
