<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/mainscreen">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#/home">Home</a></li>
        <li><a ui-sref= "home" ng-click="menu.logout()" >Logout</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container mainscreentray">
   <!-- <br> -->
     <div class="row">
        <div class="col-sm-6 col-md-4 col-xs-10" ng-repeat="item in menu.menuitems">
          <div class="thumbnail mainscreenitems">
            <!-- <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}"> -->
            <div class="caption ">
              <a href="{{item.link}}"><h3>{{ item.title }}</h3></a>
              <p>{{ item.title }}</p>
              <!-- <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p> -->
            </div>
          </div>
        </div>
      </div>
   </div>
